.formcontrol{
    width: 100%;
}

.container-field{
    min-width: 199px;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
}

label{
    font-size: 15pt !important;
}

@media(max-width: 800px){
    .container-field{
        margin-bottom: 20px;
    }
}